body{
    background:#C1DBE8;
    color:#FFF;
    width:100%;
    font-family:sans-serif;
    margin:0 auto;
}

.header{
    width:90%;
    margin:auto;
    height:120px;
    line-height:120px;
    background:#64313E;
    color:#FFF;
}

.jarak{
    padding:0 2pc;
}

